.header-img {
  max-width: 50px;
  margin-right: 0.9375rem;
}

.panel h6 {
  font-style: italic;
}

.previous-next {
  margin-top: 15px;
}

.tagged-with {
  font-style: italic;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 1em;
}

.pac-title {
  white-space: nowrap;
}

@media only screen and (max-width: 40em) {
  .button {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem;
  }
}
